<!--The content below is only a placeholder and can be replaced.-->

  <h1>
    Bienvenue dans la tour des Héros!
  </h1>

<!-- for(var el in monTableau) {

}
for(var i = 0; i<monTableau.lenght; i++ {
  var el = monTableau[i];
}-->


<!-- <ul>
  <li *ngFor="let hero of heroes">{{ hero }} <span *ngIf="hero === name">(c'est moi !)</span></li>
</ul> -->
<!-- $('button').on('click', function(){

}) -->
<!-- two way binding, () template vers script, [] template vers script -->



<router-outlet></router-outlet>
